body {
    background-image: url("../img/fondo4.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.nav-link:hover {
    background-color: #707070;
}
header{
    background-image: url("../img/fondo4.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container2{
    margin-left: 35%;
}
.hg{
    width: 80px;
  height: 80px;

  position: static; 
}
.row img{
  width: 100px;
  height: 100px;

  position: static;
}
.col card{
    background-color: aqua;
}
.navbar-nav{
    justify-content: center;
}
.bg{
    width: 0 auto;
    float: left;
}
li{
    float: left;
}


.bg2{

    height: 90px;
}
.bg3{
    height: 90px;
    margin-left: 20%;
}
.a{
    display:flow-root
}