body {
    background-image: url("img/fondo.");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.nav-link:hover {
    background-color: #6ddaf9;
}
header{
    background-color: rgb(213, 214, 214);
}

.row img{
  width: 80px;
  height: 80px;

  position: static;
}
.navbar-nav{
    justify-content: center;
}
.bg{
    width: 0 auto;
    float: left;
}
li{
    float: left;
}
.bg2{

    height: 90px;
}
.bg3{
    height: 90px;
}
.a{
    display:flow-root
}